.container{
    display:flex;
    flex-direction: column;
    height:100vh;
    overflow: auto;
}

.header{
    flex:1;
    height: 30%;
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: center
}

.features{
    flex: 6;
    display: flex;
    flex-direction: column;
}

.search{
    flex:4;
}

.favorites {
    flex:4;
    background: rgba(51, 170, 51, 0.04);
}