.container{
    display:flex;
    flex-direction: column;
    height:100vh;
}

.header{
    flex:1;
    height: 30%;
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: center

}

.search{
    flex:4;
}

.favorites {
    flex:4;
}